::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb{
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover{
  	background: #ffae7475;
  }
::-webkit-scrollbar-thumb:active{
  	background: #ffae74af;
  }

#root {
	background-color: #FFAF74;  /* fallback for old browsers */
	background-image: -webkit-linear-gradient(to bottom right, #FFAF74, #FF6F73);  /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to bottom right, #FFAF74, #FF6F73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}
#root, .container {
	/* display: flex;
	justify-content: center; */
}

.container {
	margin: 70px auto;
	width: 80%;
}

.btn {
	border: none;
	border-radius: 30px;
	background-color: #FFAF74;  /* fallback for old browsers */
	background-image: -webkit-linear-gradient(to bottom right, #FFAF74, #FF6F73);  /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to bottom right, #FFAF74, #FF6F73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 3px 3px 5px rgba(160, 60, 60, 0.3);
    color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 21px;
    padding: 10px;
    width: 120px;
}

.btn:hover {
    box-shadow: inset 0 3px 5px rgba(160, 60, 60, 0.3);
}

.btn:focus {
    outline: none;
}

.home_container, .mood_container, .food_container, .result_container {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 5px 5px 20px rgba(160, 60, 60, 0.5);
    border-radius: 20px;
    padding: 100px 50px;
    min-height: 447px;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

.home_title, .home_weather {
    margin-bottom: 30px;
}

.home_title h1, h2 {
    background: #FFAF74;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #FFAF74, #FF6F73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #FFAF74, #FF6F73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home_title h1 {
    font-size: 62px;
    margin-bottom: 10px;
    font-weight: 900;
}

.home_title h2 {
    font-size: 38px;
    font-weight: 900;
}

.home_title .home_logo {
    width: 500px;    
}

.home_weather {
    line-height: 1.5em;
    padding: 30px;
}

.home_weather .home_loading {
    width: 150px;
}

.mood_ask, .food_ask {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.moods, .foods {
    margin-bottom: 20px;
}

.list_item img {
    width: 300px;
}

.result_loading {
    position: relative;
    top: 20%;
}

.footer {
    font-size: 12px;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 768px) { 
    .home_weather .home_loading {
        width: 80px;
    }
    .home_container, .mood_container, .food_container, .result_container {
        padding: 70px 50px;
    }
    .home_title h1 {
        font-size: 52px;
    }
    .result_loading {
        width: 150px;
    }
}
