.home_container {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.home_title, .home_weather {
    margin-bottom: 20px;
}

.home_title {
    line-height: 3em;
}

.home_title h1 {
    font-size: 40px;
    font-weight: 900;
}

.home_title h2 {
    font-size: 36px;
    font-weight: 500;
}

.home_weather {
    line-height: 1.5em;
}